# temp files                                                                   
/tmp/

# original data files
/data/

# results files
/result/

# softwores
/app/

# hiden files
.*

# log and err files
*log
*err

# including gitignore
!.gitignore

